html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    transition: 0.4s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    scroll-snap-type: y mandatory; 
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    padding: 2rem 1rem;
}

section.page_about {
    place-items: center;
}

section.page_journey {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}