.on_top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
    background-color: white;

    justify-content: space-between; 
    align-items: center; 
    padding: 15px 20px; 
    height: 60px; 
    display: flex; 
    font-weight: bold;

    user-select: none;
}

.page_current {
    font-size: 1.2rem;
    place-items: center;
    position: relative;
    pointer-events: none;
    margin-left: 2rem;
}

.page_current .page:not(.active) {
    display: none;
}

.menu {
    cursor: pointer;
}

.bar_1,
.bar_2,
.bar_3 {
    border: none;
    height: 2px;
    width: 1rem;
    margin-bottom: 4px;
    background-color: black;
}

.menu_content {
    display: none;
}