html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    transition: 0.4s;
}

body {
    margin: 0;
}

header {
    height: 84px;
}

main {
    width: 100%;
    height: calc(100vh - 84px);

    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    transition: 0.3s;
}

.page {
    width: 100%;
    height: calc(100vh - 84px);

    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: Arial, sans-serif;
}